<form action="/Pessoas/cadastro" method="post">
    <div class="form-group">
        <label >Nome e Sobrenome</label>
        <input type="text" class="form-control" name="nome" />
    </div>
    <div class="form-group">
        <label >Data de Aniversário</label>
        <input type="date"name="DataDeAniversario" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="/pessoas/lista" class="btn btn-primary">Voltar</a>
</form>